body{	max-height:100%;    
	margin:0;
	padding:0;
	border-top:1px solid #888;
	background-color:#fff;  		     
 	font:100% arial, sans-serif;
	overflow:auto; 
	}

* {box-sizing:border-box;} 

#radar{	position:relative;
		width:660px;
		height:660px;
		top:2em;
		left:2em;	
		}

.radar-circles{fill:#000;
		stroke:#fff; 
		}

#sectorNames{	font:75% arial, sans-serif;
		fill:#000;
		text-transform:uppercase;
		}

.dot-c1	{fill:#008f00; background-color:#008f00;}
.dot-c2	{fill:#0fff00; background-color:#0fff00;}
.dot-c3	{fill:#ffff00; background-color:#ffff00;}
.dot-c4	{fill:#ffc000; background-color:#ffc000;}
.dot-c5	{fill:#fa8000; background-color:#fa8000;}
.dot-c6	{fill:#ff0000; background-color:#ff0000;}

.dot-sub1	{fill:#0000ff; background-color:#0000ff;}
.dot-sub2	{fill:#cc00ff; background-color:#cc00ff;}
.dot-sub3	{fill:#00ffff; background-color:#00ffff;}
.dot-sub4	{fill:#ffaaaa; background-color:#ffaaaa;}
.dot-sub5	{fill:#f1f1f1; background-color:#f1f1f1;}
.dot-sub6	{fill:#b1a1ff; background-color:#b1a1ff;}

.dot-c1,
.dot-c2,
.dot-c3,
.dot-c4,
.dot-c5,
.dot-c6		{cursor:pointer;}

.hidesubcat	{display:none;}

#sub-dot-code{	position:absolute;
		display:inline-block;
		vertical-align:top;
		right:4em;
		padding:3px;
		margin:3px 0 0 0;		 
		border:3px solid rgba(255, 255, 255, 0);
		border-radius:6px;
		}

#stat-dot-code{	position:relative;
		display:inline-block;
		left:1em;
		margin:0 0 0 8px;
		padding:3px;		 
		border:3px solid rgba(255, 255, 255, 0);
		border-radius:6px;
		}

.title-c1, .title-c2, .title-c3, .title-c4, .title-c5, .title-c6
	{font:10px sans-serif;}

.title-c1	{fill:#008f00;}
.title-c2	{fill:#0fff00;}
.title-c3	{fill:#ffff00;}
.title-c4	{fill:#ffc000;}
.title-c5	{fill:#fa8000;}
.title-c6	{fill:#ff0000;}

				
					/* LEGEND */





#legend_wrapper{	position:absolute; 
			top:0.5em;	
			left:1.5em;
			height:auto;			
			}

#legend_button{	position:absolute; 	
		display:inline-block;
		top:0em;
		left:0em;
		width:100%; 
		height:2.5em; 
		padding:0.5em 0 0 0.5em;
		border:2px solid #fafafa;
		border-top-left-radius:0.7em;
		border-top-right-radius:0.7em;
		font:80% arial, sans-serif;
		background-color:#fdfdfd;
		color:#000;
		cursor:pointer;
		}

#legend_button:hover{color:#c3c3c3;}

#legend{	position:relative; 
		max-width:100%;
		width:auto;		
		overflow-y:hidden; 
		top:1.9em; 
		left:0;	
		z-index:2;	
		background-color:rgba(255, 255, 255, 0.95);		
		-webkit-transition:height 0.8s;
   		-moz-transition: all 0.8s;
   		-ms-transition: all 0.8s;
   		-o-transition: all 0.8s;
    		transition:height 0.7s; 
		}

.show_legend{	height:30em; 
		border:2px solid #fafafa;
		border-bottom-left-radius:0.7em;
		border-bottom-right-radius:0.7em;
		}

.hide_legend{	height:0; 
		border:none;
		}

#legend_text{	padding:1em 1.5em; 
		font:80%/1.3em arial, sans-serif;
		color:#000;
		z-index:2;
		}

h2 {	font:bold 130% arial; 
	color:#000; 
	}

.legend-text{ margin:-0.8em 0 1.2em 0;}

#legend-c1	{font:90% arial; color:#008f00;}
#legend-c2	{font:90% arial; color:#0fff00;}
#legend-c3	{font:90% arial; color:#ffff00;}
#legend-c4	{font:90% arial; color:#ffc000;}
#legend-c5	{font:90% arial; color:#fa8000;}
#legend-c6	{font:90% arial; color:#dd0000;}


			/* DETAILS BOX */


#detailsPos{		position:absolute; 
			display:block; 
			top:5em; 
			right:3.5em;
			background-color:rgba(255, 255, 255, 0.9);
			border:1px solid #f1f1f1;
			border-radius:0.7em;
			font:80% arial, sans-serif;
			color:#000;
			letter-spacing:0.03em;	
			line-height:1.4em;
			z-index:1;
			}

.details-c1, .details-c2, .details-c3, .details-c4, .details-c5, .details-c6
		{	text-transform:capitalize; 
			display:inline-block;
			padding:1em;
			}

.details-c1	{background-color:rgba(0, 250, 0, 0.1);}
.details-c2	{background-color:rgba(150, 250, 0, 0.1);}
.details-c3	{background-color:rgba(250, 250, 0, 0.1);}
.details-c4	{background-color:rgba(250, 200, 0, 0.1);}
.details-c5	{background-color:rgba(250, 150, 0, 0.1);}
.details-c6	{background-color:rgba(250, 0, 0, 0.1);}

.text{	color:#000; 
	font-weight:bold;
	float:right;
	margin-left:2em;
	}


				/* ANOMALY TABLE */


#anomaly_table_wrapper{	position:absolute; 
				top:27em;	
				right:1.2em;    
				height:auto;
				}

#show_anomalies_button{	position:absolute; 	
				top:32em;
				right:2em;
				width:10em;
				padding:1em;
				font:80% arial, sans-serif;
				color:#000;
				cursor:pointer;
				}

#show_anomalies_button:hover{color:#c3c3c3;}

.show_anomalies{	height:auto; 
			width:auto;
			border:1px solid #f1f1f1;
			border-radius:0.7em;	
			z-index:2;		
			}

.hide_anomalies{	height:0; 
			border:none;
			}

#anomalyTable{	position:relative; 
		overflow-y:hidden;
		top:0em; 
		margin:0.7em 1.5em;
		background-color:rgba(255, 255, 255, 0.6);						border-collapse:collapse;		
		}

#anomalyTable caption{	margin:0.3em 0;
			font:85% arial;
			color:#000;
			font-weight:bold;
			text-decoration:underline;
			text-align:center;
			letter-spacing:0.05em;
			}		
		
#anomalyTable th{	font:75% arial;
			color:#000;
			padding:0.5em 1em;
			border-top:none; 
			text-align:left;
			}

#anomalyTable tr{	width:auto; 
			border-bottom:1px dotted #e2e2e2;
			}

#anomalyTable tr.nostatus 	{color:#0000cc;}
#anomalyTable tr.nocatsec	{color:#5555ff;}
#anomalyTable tr.nosubcat	{color:#aaaaff;}
#anomalyTable tr.no-entries	{color:#0000ff;}

#anomalyTable td{	font:70% arial;
			text-transform:capitalize; 
			width:auto; 
			height:auto;
			padding:0.7em 1em;
			border-bottom:none;
			}


			/* SET RADAR MODE */



#radar_mode_wrapper{	position:absolute;     
			top:14.5em;	
			right:1.8em;
			width:12em;
			height:auto;			
			}

#radar_mode_button{	position:absolute; 	
			top:0em;
			right:0em;
			width:11em;  
			padding:0.5em 0.7em;
			font:80% arial, sans-serif;
			color:#000;
			cursor:pointer;
			}

#radar_mode_button:hover{color:#c3c3c3;}

#radar_mode{ position:relative; 
		width:100%;		
		overflow-y:hidden; 
		top:1.6em; 
		float:right;	
		margin-right:1em;
		z-index:2;	
		background-color:rgba(255, 255, 255, 0.8);		
		}

.show_radar_mode{	height:auto; 
			width:auto;
			border:1px solid #f1f1f1;
			border-radius:0.7em;			
			}

.hide_radar_mode{	height:0; 
			border:none;
			}

.radar_mode_switch{	display:block; 
			padding:0 1em; 
			font:0.8em/0.8em arial, sans-serif;
			color:#000;
			}

.radar_mode_switch:hover{	color:#c3c3c3;
				cursor:pointer;
				}

.subcat-list{	margin-top:-0.2em;}

.subcat-list li{	font:0.8em/1.4em arial, sans-serif;
			color:#777;
			list-style-type:none;			
			text-transform:capitalize;
			}


			/* LISTS BY SECTOR */


#show_sector_table_button{	position:absolute; 
				display:inline-block; 
				float:left;
				top:54em;
				left:1em;
				width:20em;
				padding:1em;
				font:80% arial, sans-serif;
				color:#000;
				cursor:pointer; 
				}

#show_sector_table_button:hover{color:#c3c3c3;}

.show_sector_table{	position:absolute;
			display:inline-block; 
			height:auto; 
			float:left;
			margin:4em 1.5em;
			max-width:45%;
			border:2px solid #f1f1f1;
			border-radius:0.7em;
			padding:1em 1em 2em 1em; 
			background-color:rgba(255, 255, 255, 0.8);
			overflow-y:hidden;
			}

.hide_sector_table{	visibility:hidden;
			height:0;
			border:none;
			}

#sector_table{	position:absolute;
		margin-top:46em;
		top:0em;
		-webkit-touch-callout:none;
		-webkit-user-select: none; 
		-moz-user-select: none;   
		-ms-user-select: none; 
		z-index:1;
		}

#sector_table:hover{cursor:move;}

#sector_table#sector_table caption{	margin:1.5em 0 0.8em 0;
					font:70% arial;
					color:#000;
					font-weight:bold;
					text-align:center;
					text-transform:uppercase;
					text-decoration:underline;
					}		
		
#sector_table th{	font:70% arial;
			font-weight:bold;
			color:#000;
			padding:0.7em 1.5em;
			border-top:none; 
			text-align:left;
			}

#sector_table tr{width:auto;}

#sector_table tr:nth-child(2) td:first-child {border-top-left-radius:0.7em;}
#sector_table tr:nth-child(2) td:last-child {border-top-right-radius:0.7em;}
#sector_table tr:last-child td:first-child {border-bottom-left-radius:0.7em;}
#sector_table tr:last-child td:last-child {border-bottom-right-radius:0.7em;}

#sector_table td{	font:70% arial;
			color:#000;
			text-transform:capitalize; 			
			padding:0.8em 1.5em;			
			}

#sector_table td.c1		{background-color:rgba(0, 250, 0, 0.2);}
#sector_table td.c2		{background-color:rgba(150, 250, 0, 0.2);}
#sector_table td.c3		{background-color:rgba(245, 250, 0, 0.2);}
#sector_table td.c4		{background-color:rgba(250, 200, 0, 0.2);}
#sector_table td.c5		{background-color:rgba(250, 150, 0, 0.2);}
#sector_table td.c6		{background-color:rgba(250, 0, 0, 0.2);}
#sector_table td.nostatus	{background-color:rgba(0, 0, 255, 0.3);}
#sector_table td.nosubcat	{background-color:rgba(20, 20, 255, 0.1);}

#sector_table td.td1 {font-size:60%;}




			/*  LISTS BY STATUS */


#show_status_table_button{	position:absolute; 
				display:inline-block; 
				float:left;
				top:54em;
				left:33%;
				width:20em;
				padding:1em;
				font:80% arial, sans-serif;
				color:#000;
				cursor:pointer; 
				}

#show_status_table_button:hover{color:#c3c3c3;}

.show_status_table{	position:absolute;
			display:inline-block; 
			height:auto; 
			margin:4em 1.5em 0.5em 33%; 
			max-width:45%;
			border:2px solid #f1f1f1;
			border-radius:0.7em;
			padding:1em 1em 2em 1em; 
			background-color:rgba(255, 255, 255, 0.8);
			overflow-y:hidden;
			}

.hide_status_table{	visibility:hidden;
			height:0;
			border:none;
			}

#status_table{	position:absolute;
		margin-top:46em;
		top:0em;
		-webkit-touch-callout:none;
		-webkit-user-select: none; 
		-moz-user-select: none;   
		-ms-user-select: none; 
		z-index:1;
		}

#status_table:hover{cursor:move;}
#status_table:active{z-index:1;}

#status_table caption{	margin:1.5em 0 0.8em 0;
			font:70% arial;
			color:#000;
			font-weight:bold;
			text-align:center;
			text-transform:uppercase;
			text-decoration:underline;
			}		
		
#status_table th{	font:70% arial;
			font-weight:bold;
			color:#000;
			padding:0.7em 1.5em;
			border-top:none; 
			text-align:left;
			}

#status_table tr{	width:auto;
			border:none;
			}

#status_table tr:nth-child(2) td:first-child {border-top-left-radius:0.7em;}
#status_table tr:nth-child(2) td:last-child {border-top-right-radius:0.7em;}
#status_table tr:last-child td:first-child {border-bottom-left-radius:0.7em;}
#status_table tr:last-child td:last-child {border-bottom-right-radius:0.7em;}

#status_table td{	font:70% arial; 
			color:#000;
			padding:0.8em 1.5em;
			   
			}
					
#status_table td.c1		{background-color:rgba(0, 250, 0, 0.2);}
#status_table td.c2		{background-color:rgba(150, 250, 0, 0.2);}
#status_table td.c3		{background-color:rgba(245, 250, 0, 0.2);}
#status_table td.c4		{background-color:rgba(250, 200, 0, 0.2);}
#status_table td.c5		{background-color:rgba(250, 150, 0, 0.2);}
#status_table td.c6		{background-color:rgba(250, 0, 0, 0.2);}
#status_table td.nocat		{background-color:rgba(100, 100, 255, 0.2);}	
#status_table td.nosubcat	{background-color:rgba(20, 20, 255, 0.1);}					
#status_table td.td1 {font-size:60%;}



			/* LISTS BY SUBCAT */




#show_subcat_table_button{	position:absolute; 
				display:inline-block; 
				float:left;
				top:54em;
				left:66%;
				width:20em;
				padding:1em;
				font:80% arial, sans-serif;
				color:#000;
				cursor:pointer; 
				}

#show_subcat_table_button:hover{color:#c3c3c3;}

.show_subcat_table{	position:absolute;
			display:inline-block; 
			height:auto; 
			margin:4em 1.5em 0.5em 62%; 
			max-width:45%;
			border:2px solid #f1f1f1;
			border-radius:0.7em;
			padding:1em 1em 2em 1em; 
			background-color:rgba(255, 255, 255, 0.8);
			overflow-y:hidden;
			}

.hide_subcat_table{	visibility:hidden;
			height:0;
			border:none;
			}

#subcat_table{	position:absolute;
		margin-top:46em;
		top:0em;
		-webkit-touch-callout:none;
		-webkit-user-select: none; 
		-moz-user-select: none;   
		-ms-user-select: none; 
		z-index:1;
		}

#subcat_table:hover{cursor:move;}

#subcat_table caption{	margin:1.5em 0 0.8em 0;
			font:70% arial;
			color:#000;
			font-weight:bold;
			text-align:center;
			text-transform:uppercase;
			text-decoration:underline;
			}
		
#subcat_table th{	font:70% arial;
			font-weight:bold;
			color:#000;
			padding:0.7em 1.5em;
			border-top:none; 
			text-align:left;
			}

#subcat_table tr{	width:auto;
			border:none;
			}

#subcat_table tr:nth-child(2) td:first-child {border-top-left-radius:0.7em;}
#subcat_table tr:nth-child(2) td:last-child {border-top-right-radius:0.7em;}
#subcat_table tr:last-child td:first-child {border-bottom-left-radius:0.7em;}
#subcat_table tr:last-child td:last-child {border-bottom-right-radius:0.7em;}
					
#subcat_table td{	font:70% arial;
			color:#000;
			text-transform:capitalize; 			
			padding:0.8em 1.5em;			
			}

#subcat_table td.c1		{background-color:rgba(0, 250, 0, 0.2);}
#subcat_table td.c2		{background-color:rgba(150, 250, 0, 0.2);}
#subcat_table td.c3		{background-color:rgba(245, 250, 0, 0.2);}
#subcat_table td.c4		{background-color:rgba(250, 200, 0, 0.2);}
#subcat_table td.c5		{background-color:rgba(250, 150, 0, 0.2);}
#subcat_table td.c6		{background-color:rgba(250, 0, 0, 0.2);}
#subcat_table td.nocat		{background-color:rgba(100, 100, 255, 0.2);}
#subcat_table td.nostatus	{background-color:rgba(0, 0, 255, 0.3);}	

#subcat_table td.td1 {font-size:60%;}
			
