#anomalyTablePos{	position:absolute; 				
			top:12em;		
			right:2.9em;
			width:auto;
			height:auto;
			}

table#anomalyTable{	position:relative; 
			display:block; 
			margin:0em; 
			padding:0em 1em;
			height:auto; 
			width:auto;
			background-color:rgba(0, 0, 0, 0.8);					
      border-collapse:collapse;
			border:1px solid rgba(0, 0, 255, 0.7);
			}

table#anomalyTable caption{	margin:1em 0;
				font:85% arial;
				color:#b3b3b3;
				text-align:center;
				letter-spacing:0.1em;
				}		
		
table#anomalyTable th{	font:75% arial;
			color:#fff;
			padding:0.7em 1.5em;
			border-top:none; 
			text-align:left;
			}

table#anomalyTable tr{	width:auto; 
			border-bottom:1px dotted #303030;
			}

table#anomalyTable td{	font:70% arial;
			text-transform:capitalize; 
			width:auto;
			height:auto;
			padding:0.6em 1.5em;
			border-bottom:none;
			}

table#anomalyTable td.light-blue	{color:#00afff;}
table#anomalyTable td.blue		{color:#0000ff;}
table#anomalyTable td.bluedot{z-index:5;}
