#legend_wrapper{	position:absolute; 
			top:0.5em;	
			left:1.5em;
			height:auto;			
			}

#legend_button{	position:absolute; 	
		display:inline-block;
		top:0em;
		left:0em;
		width:100%; 
		height:2.5em; 
		padding:0.5em 0 0 0.5em;
		border:2px solid #fafafa;
		border-top-left-radius:0.7em;
		border-top-right-radius:0.7em;
		font:80% arial, sans-serif;
		background-color:#fdfdfd;
		color:#000;
		cursor:pointer;
		}

#legend_button:hover{color:#c3c3c3;}

#legend{	position:relative; 
		max-width:100%;
		width:auto;		
		overflow-y:hidden; 
		top:1.9em; 
		left:0;	
		z-index:2;	
		background-color:rgba(255, 255, 255, 0.95);		
		-webkit-transition:height 0.8s;
   		-moz-transition: all 0.8s;
   		-ms-transition: all 0.8s;
   		-o-transition: all 0.8s;
    		transition:height 0.7s; 
		}

.show_legend{	height:30em; 
		border:2px solid #fafafa;
		border-bottom-left-radius:0.7em;
		border-bottom-right-radius:0.7em;
		}

.hide_legend{	height:0; 
		border:none;
		}

#legend_text{	padding:1em 1.5em; 
		font:80%/1.3em arial, sans-serif;
		color:#000;
		z-index:2;
		}

h2 {	font:bold 130% arial; 
	color:#000; 
	}

.legend-text{ margin:-0.8em 0 1.2em 0;}

#legend-c1	{font:90% arial; color:#008f00;}
#legend-c2	{font:90% arial; color:#0fff00;}
#legend-c3	{font:90% arial; color:#ffff00;}
#legend-c4	{font:90% arial; color:#ffc000;}
#legend-c5	{font:90% arial; color:#fa8000;}
#legend-c6	{font:90% arial; color:#dd0000;}


