#sector_button,
#status_button,
#subcat_button{	position:absolute; 
		display:inline-block; 
		float:left;
		top:54em;
		width:20em;
		padding:1em;
		font:80% arial, sans-serif;
		color:#000;
		cursor:pointer; 
		}

#sector_button		{left:1em;}
#status_button		{left:33%;}
#subcat_button		{left:66%;}

#sector_button:hover,
#status_button:hover,
#subcat_button:hover	{color:#c3c3c3;}

.show_sector_table,
.show_status_table,
.show_subcat_table{	position:absolute;
			display:inline-block; 
			height:auto; 			
			max-width:45%;
			border:2px solid #f1f1f1;
			border-radius:0.7em;
			padding:1em 1em 2em 1em; 
			background-color:rgba(255, 255, 255, 0.8);
			overflow-y:hidden;
			}

.show_sector_table	{float:left;
			 margin:4em 1.5em;
			 }
.show_status_table	{margin:4em 1.5em 0.5em 33%;}
.show_subcat_table	{margin:4em 1.5em 0.5em 62%;}


.hide_table{	display:none;
		height:0;
		border:none;
		}

#sector_table,
#status_table,
#subcat_table{	position:absolute;
		margin-top:46em;
		top:0em;
		-webkit-touch-callout:none;
		-webkit-user-select: none; 
		-moz-user-select: none;   
		-ms-user-select: none; 
		z-index:1;
		}

.list_table:hover	{cursor:move;}


.list_table caption{	margin:1.5em 0 0.8em 0;
			font:70% arial;
			color:#000;
			font-weight:bold;
			text-align:center;
			text-transform:uppercase;
			text-decoration:underline;
			}

.list_table th{		font:70% arial;
			font-weight:bold;
			color:#000;
			padding:0.7em 1.5em;
			border-top:none; 
			text-align:left;
			}

.list_table tr	{width:auto;}

.list_table tr:nth-child(2) td:first-child  {border-top-left-radius:0.7em;}
.list_table tr:nth-child(2) td:last-child   {border-top-right-radius:0.7em;}
.list_table tr:last-child td:first-child    {border-bottom-left-radius:0.7em;}
.list_table tr:last-child td:last-child     {border-bottom-right-radius:0.7em;}

.list_table td{		font:70% arial;
		     	color:#000;
			text-transform:capitalize; 			
			padding:0.8em 1.5em;			
			}

.list_table td.c1		{background-color:rgba(0, 250, 0, 0.2);}
.list_table td.c2		{background-color:rgba(150, 250, 0, 0.2);}
.list_table td.c3		{background-color:rgba(245, 250, 0, 0.2);}
.list_table td.c4		{background-color:rgba(250, 200, 0, 0.2);}
.list_table td.c5		{background-color:rgba(250, 150, 0, 0.2);}
.list_table td.c6		{background-color:rgba(250, 0, 0, 0.2);}
.list_table td.nostatus	{background-color:rgba(0, 0, 255, 0.3);}
.list_table td.nosubcat	{background-color:rgba(20, 20, 255, 0.1);}
.list_table td.nocat		{background-color:rgba(100, 100, 255, 0.2);}
.list_table td.td1		 {font-size:60%;}
		
		