
	/* DROPDOWN SECTOR TITLES*/

#sector_list_wrapper{	position:absolute; 	
			top:42em; 
			}

.show_sector_list_button{	position:absolute; 	
				top:0em;
				left:1.5em;
				width:18em;
				padding:1em;
				font:80% arial, sans-serif;
				color:#fff;
				cursor:pointer;
				}

.show_sector_list_button:hover{color:#ff0000;}

.show_sector_list{	height:auto; 		 
			border:1px solid #303030; 
			padding-bottom:1em;
			}

.hide_sector_list{	height:0; 
			border:none;
			}

#hide_sector_list_button{	position:absolute;
				margin:0.2em 0.5em;
				text-decoration:none;
				color:#fff;
				cursor:pointer;
				z-index:2;
				}

#hide_sector_list_button:hover{color:#ff0000;}

#sector_list{	position:relative; 
		width:auto;		
		overflow-y:hidden;
		top:2em; 
		left:2em;	
		background-color:rgba(0, 0, 0, 0.8);		
		-webkit-transition:height 0.8s;
   		-moz-transition: all 0.8s;
   		-ms-transition: all 0.8s;
   		-o-transition: all 0.8s;
    		transition:height 0.7s; 
		}

.sector_list_buttons{	position:relative;
			font:70% arial;
			color: #005fff;
			letter-spacing:0.1em;			
			background-color:rgba(0, 0, 0, 0.8);			
			width:12em;
			padding:0 1em 0.6em 2em;
			cursor:pointer;
			text-transform:uppercase;
			}

.sector_list_buttons:hover{color:#a00000;}


	/* CATEGORY TABLES*/



.show_sector_table{	height:auto; 
			border:1px solid #303030;
			}

.hide_sector_table{	height:0; 
			border:none;
			}

#hide_sector_table_button{	position:absolute;
				margin:-0.6em 0em;
				text-decoration:none;
				color:#fff;
				cursor:pointer;
				z-index:4;
				}

#hide_sector_table_button:hover{color:#ff0000;}

#sector_table_wrapper{	position:absolute;
			overflow-y:hidden;
			margin:2.7em 1em 2em 10.9em;
			padding:0em;
			width:auto; 
			max-width:95%;
			background-color:rgba(0, 0, 0, 0.5);
			z-index:0;
			}

#sector_table	{	position:relative; 
			display:block; 
			margin:1em;
			padding-bottom:2em; 
			height:auto; 
			width:auto;
			background-color:rgba(0, 0, 0, 0.8);					 		border-collapse:collapse; 
			z-index:0;
			}

#sector_table caption{margin:1em 0;
			font:80% arial;
			color:#b3b3b3;
			text-align:center;
			letter-spacing:0.1em;
			text-decoration:underline;
			text-transform:uppercase;
			}		
		
#sector_table th{	font:85% arial;
			color:#fff;
			padding:0.7em 1.5em;
			border-top:none; 
			text-align:left;
			}

#sector_table tr{width:auto;}

#sector_table td{	font:75% arial;
			text-transform:capitalize; 
			width:auto;
			height:auto;
			padding:0.6em 1.5em;
			border-bottom:none;
			}

#sector_table td.c1		{color:#008f00;}
#sector_table td.c2		{color:#0fff00;}
#sector_table td.c3		{color:#ffff00;}
#sector_table td.c4		{color:#ffc000;}
#sector_table td.c5		{color:#fa8000;}
#sector_table td.c6		{color:#ff0000;}
#sector_table td.blue		{color:#0000ff;}
