body{	  max-height:100%;    
          margin:0;
          padding:0;
          border-top:1px solid #888;
          background-color:#000;  		     
          font: 100% arial, sans-serif;
          overflow:auto; 
          }

* {box-sizing:border-box;} 

#radar{	position:relative; 
	width:700px;
	height:650px;
	top:2em;
	left:2em;	
	}

#detailsPos{	position:absolute; 
		display:block; 
		top:3em; 
		right:10%;
		background-color:rgba(0, 0, 0, 0.7);
		border:1px solid #005fff;
		font:80% arial, sans-serif;
		color:#005fff;
		letter-spacing:0.1em;	
		line-height:1.4em;
		z-index:100;
		}

.tx{	text-transform:capitalize;
	padding:1em;
	}
.col{color:#11ffff;
	float:right;
	}

